html,body {
    height: 100%;
}

header {
    color: white;
}
 
.card {
    margin: 5%;
}

.card-header {
    text-align:left;
}

.card-text {
    text-align:justify;
    text-justify:inter-ideograph;
}
